<body background="/assets/gray2.jpg">
<title> sign up </title>
<script src="sign_up.js" type="text/javascript"></script>
<div id="msform" style="background : #212121 ; opacity : 0.9;border-radius : 4px;margin-top : 150px;padding :15px"  >
<!-- <h2>Sign up</h2> -->
<h2 class="fs-title"> ساخت حساب کاربری</h2>
<h3 class="fs-subtitle" style=" font-size:17px;">مرحله اول</h3>

<%=bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <%= f.email_field :email, :placeholder => "ایمیل" , hide_label: true , style: 'margin-bottom: 15px'%>

  <%= f.password_field :password , :placeholder => "رمز عبور" , hide_label: true , style: 'margin-bottom: 15px'%>

  <%= f.password_field :password_confirmation, :placeholder =>"تکرار رمز عبور" , hide_label: true , style: 'margin-bottom: 15px'%>

  <%= f.submit "مرحله بعد" , class: 'btn btn-danger btn_cls' , style: 'color: white;width: 40%'%>
<% end %>
 </div>
 </body>
 <%#= render "devise/shared/links" %> 





	<!-- <fieldset>
		<h2 class="fs-title"> Create your account </h2>
		<h3 class="fs-subtitle">This is step 1</h3>
		<input type="text" name="email" placeholder="Email" />
		<input type="password" name="pass" placeholder="Password" />
		<input type="password" name="cpass" placeholder="Confirm Password" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Social Profiles</h2>
		<h3 class="fs-subtitle">Your presence on the social network</h3>
		<input type="text" name="twitter" placeholder="Twitter" />
		<input type="text" name="facebook" placeholder="Facebook" />
		<input type="text" name="gplus" placeholder="Google Plus" />
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Personal Details</h2>
		<h3 class="fs-subtitle">We will never sell it</h3>
		<input type="text" name="fname" placeholder="First Name" />
		<input type="text" name="lname" placeholder="Last Name" />
		<input type="text" name="phone" placeholder="Phone" />
		<textarea name="address" placeholder="Address"></textarea>
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="submit" name="submit" class="submit action-button" value="Submit" />
	</fieldset> -->