<%= form_for(@performed) do |f| %>
  <% if @performed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performed.errors.count, "error") %> prohibited this performed from being saved:</h2>

      <ul>
      <% @performed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :device_id %><br>
    <%= f.number_field :device_id %>
  </div>
  <div class="field">
    <%= f.label :work_id %><br>
    <%= f.number_field :work_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
